<section>
  <img
    alt="imagen de fondo de pantalla"
    role="presentation"
    class="galery--active"
    src="/Web/FotosGrupo/_D_L8327.jpg?width=640"
    srcset="
		/Web/FotosGrupo/_D_L8327.jpg?width=640   640w,
		/Web/FotosGrupo/_D_L8327.jpg?width=768   768w,
		/Web/FotosGrupo/_D_L8327.jpg?width=1024 1024w,
		/Web/FotosGrupo/_D_L8327.jpg?width=1366 1366w,
		/Web/FotosGrupo/_D_L8327.jpg?width=1600 1600w,
		/Web/FotosGrupo/_D_L8327.jpg?width=1920 1920w
	  "
  />
  <img
    alt="imagen de fondo de pantalla"
    role="presentation"
    data-src="/Web/FotosGrupo/IMG20210508183012.jpg?width=640"
    data-srcset="/Web/FotosGrupo/IMG20210508183012.jpg?width=640 640w,
		  /Web/FotosGrupo/IMG20210508183012.jpg?width=768 768w,
		  /Web/FotosGrupo/IMG20210508183012.jpg?width=1024 1024w,
		  /Web/FotosGrupo/IMG20210508183012.jpg?width=1366 1366w,
		  /Web/FotosGrupo/IMG20210508183012.jpg?width=1600 1600w,
		  /Web/FotosGrupo/IMG20210508183012.jpg?width=1920 1920w"
  />
  <img
    alt="imagen de fondo de pantalla"
    role="presentation"
    data-src="/Web/FotosVeraneo/_D_L9129.jpg?width=640"
    data-srcset="/Web/FotosVeraneo/_D_L9129.jpg?width=640 640w,
			  /Web/FotosVeraneo/_D_L9129.jpg?width=768 768w,
			  /Web/FotosVeraneo/_D_L9129.jpg?width=1024 1024w,
			  /Web/FotosVeraneo/_D_L9129.jpg?width=1366 1366w,
			  /Web/FotosVeraneo/_D_L9129.jpg?width=1600 1600w,
			  /Web/FotosVeraneo/_D_L9129.jpg?width=1920 1920w"
  />
  <img
    alt="imagen de fondo de pantalla"
    role="presentation"
    data-src="/Web/FotosVeraneo/_DSC1970.jpg?width=640"
    data-srcset="/Web/FotosVeraneo/_DSC1970.jpg?width=640 640w,
			  /Web/FotosVeraneo/_DSC1970.jpg?width=768 768w,
			  /Web/FotosVeraneo/_DSC1970.jpg?width=1024 1024w,
			  /Web/FotosVeraneo/_DSC1970.jpg?width=1366 1366w,
			  /Web/FotosVeraneo/_DSC1970.jpg?width=1600 1600w,
			  /Web/FotosVeraneo/_DSC1970.jpg?width=1920 1920w"
  />
  <img
    alt="imagen de fondo de pantalla"
    role="presentation"
    data-src="/Web/FotosLisistrata/P1150057.jpg?width=640"
    data-srcset="/Web/FotosLisistrata/P1150057.jpg?width=640 640w,
			  /Web/FotosLisistrata/P1150057.jpg?width=768 768w,
			  /Web/FotosLisistrata/P1150057.jpg?width=1024 1024w,
			  /Web/FotosLisistrata/P1150057.jpg?width=1366 1366w,
			  /Web/FotosLisistrata/P1150057.jpg?width=1600 1600w,
			  /Web/FotosLisistrata/P1150057.jpg?width=1920 1920w"
  />
  <img
    alt="imagen de fondo de pantalla"
    role="presentation"
    data-src="/Web/FotosLisistrata/P1150252.jpg?width=640"
    data-srcset="/Web/FotosLisistrata/P1150252.jpg?width=640 640w,
			  /Web/FotosLisistrata/P1150252.jpg?width=768 768w,
			  /Web/FotosLisistrata/P1150252.jpg?width=1024 1024w,
			  /Web/FotosLisistrata/P1150252.jpg?width=1366 1366w,
			  /Web/FotosLisistrata/P1150252.jpg?width=1600 1600w,
			  /Web/FotosLisistrata/P1150252.jpg?width=1920 1920w"
  />
  <img
    alt="imagen de fondo de pantalla"
    role="presentation"
    data-src="/Web/FotosJardiel/_D_L8387.jpg?width=640"
    data-srcset="/Web/FotosJardiel/_D_L8387.jpg?width=640 640w,
				  /Web/FotosJardiel/_D_L8387.jpg?width=768 768w,
				  /Web/FotosJardiel/_D_L8387.jpg?width=1024 1024w,
				  /Web/FotosJardiel/_D_L8387.jpg?width=1366 1366w,
				  /Web/FotosJardiel/_D_L8387.jpg?width=1600 1600w,
				  /Web/FotosJardiel/_D_L8387.jpg?width=1920 1920w"
  />
  <img
    alt="imagen de fondo de pantalla"
    role="presentation"
    data-src="/Web/FotosJardiel/_D_L8425.jpg?width=640"
    data-srcset="/Web/FotosJardiel/_D_L8425.jpg?width=640 640w,
				  /Web/FotosJardiel/_D_L8425.jpg?width=768 768w,
				  /Web/FotosJardiel/_D_L8425.jpg?width=1024 1024w,
				  /Web/FotosJardiel/_D_L8425.jpg?width=1366 1366w,
				  /Web/FotosJardiel/_D_L8425.jpg?width=1600 1600w,
				  /Web/FotosJardiel/_D_L8425.jpg?width=1920 1920w"
  />
</section>
<script src="./js/galery.js" type="module"></script>
<style lang="scss">
  section {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      position: absolute;
      opacity: 0;
    }
    img.galery--active {
      opacity: 1;
      transition: opacity 1s;
      z-index: 1;
    }
  }
</style>
