<a href="http://escenamateur.org/" id="logo_escena_amateur" target="_blank">
  <img
    src="/logo_escena_amateur.gif?width=160"
    alt="logo feteas"
    width="80"
    height="45"
    alt="Logo Escena Amateur"
  />
</a>
<a href="http://www.feteas.org/" id="logoFeteas" target="_blank">
  <img
    src="/logo_feteas.png"
    alt="logo feteas"
    width="80"
    height="45"
    alt="Logo Feteas"
  />
</a>
<style lang="scss">
  #logoFeteas {
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    img {
      width: 80px;
    }
    @media (max-width: 425px) {
      left: 10px;
      right: auto;
      bottom: 170px;
    }
  }

  #logo_escena_amateur {
    position: absolute;
    bottom: 10px;
    right: 100px;
    img {
      width: 80px;
    }
    cursor: pointer;
    @media (max-width: 425px) {
      left: 10px;
      right: auto;
      bottom: 120px;
    }
  }
</style>
